* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

html,
body {
  margin: 0 auto;
  height: 100%;
  background-color: #242424;
}

body {
  background-image: url("/public/Group\ 7.svg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.app-container {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  min-height: 100vh;
}

.textHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3.75rem;
  font-weight: 700;
  gap: 0.5rem;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: 2rem;

    & img {
      height: 24px;
    }
  }
}

.bgSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 1.5rem 1rem;
  width: 100%;
  max-width: 1150px;
  min-height: 537px;
  height: 100%;
  margin: 1rem 0;
  text-align: center;
  border-radius: 5px;
}

.app-title {
  color: #333;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.search-bar {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 1px;
  margin: 1rem auto;
  height: 3rem;

  & button {
    display: flex;
    justify-content: center;
    height: 100%;
    min-width: 3rem;
    align-items: center;
    border: none;
    background-color: #005cff;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #003ea8;
    }

    &:focus {
      box-shadow: 0 0 0 0;
      border: 0 none;
      outline: 0;
    }
  }

  & input {
    color: #000;
    background-color: white;
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;

    @media (max-width: 768px) {
      font-size: 0.875rem;
      padding: 8px 12px;
    }

    &::placeholder {
      font-weight: 700;
      color: #000;
    }

    &:focus {
      box-shadow: 0 0 0 0;
      border: 0 none;
      outline: 0;
    }
  }
}
